


{% extends "base.html" %}
{% load static %} <!-- Template Main CSS File -->





{% block content %}
    <link href="{% static 'assets/css/photogallery.css' %}" rel="stylesheet">
    <div style="height: 100px;"></div>
    <div class="container">
        <div class="row" style="margin-top: 50px">

            <div class="col-md-3">
                <div class="card h-100">
                    <img
                            src="{% static 'assets/img/article1.jpg' %}"
                            class="card-img-top"
                            alt="..."
                            style="height: 225px"
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">विकास बजेटमा प्राथमिकता</h5>
                        <p class="card-text text-center text-truncate">
                            वैशाख २८, २०७३- संविधानमा जेठ १५ गते संसदमा बजेट प्रस्तुत गर्ने व्यवस्था भएपछि यसपटक
                            विगतजस्तो बजेट कहिले आउला भन्ने चिन्ता र चासो छैन । बजेट अधिवेशन सुरु भइसकेको छ । त्यसैले
                            यतिबेला सबैको ध्यान सरकारले कस्तो बजेट ल्याउँदैछ भन्नेमा बढी केन्द्रित देखिन्छ ।

                            यसै सन्दर्भमा अर्थमन्त्रीले संसदमा विनियोजन विधेयक, २०७३ का सिद्धान्त र प्राथमिकता पनि
                            प्रस्तुत गरिसक्नुभएको छ । भूकम्पपछिको पुनर्निर्माण र नाकाबन्दीले थिलथिलो भएको अर्थतन्त्रलाई
                            चलायमान बनाउनु अहिलेको प्राथमिक विषय हो ।
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">May 10, 2016</small>
                        <small class="text-muted" style="float: right">- उदयशमशेर राणा</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="card h-100">
                    <img
                            src="{% static 'assets/img/article1.jpg' %}"
                            class="card-img-top"
                            alt="..."
                            style="height: 225px"
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">विकास बजेटमा प्राथमिकता</h5>
                        <p class="card-text text-center text-truncate">
                            वैशाख २८, २०७३- संविधानमा जेठ १५ गते संसदमा बजेट प्रस्तुत गर्ने व्यवस्था भएपछि यसपटक
                            विगतजस्तो बजेट कहिले आउला भन्ने चिन्ता र चासो छैन । बजेट अधिवेशन सुरु भइसकेको छ । त्यसैले
                            यतिबेला सबैको ध्यान सरकारले कस्तो बजेट ल्याउँदैछ भन्नेमा बढी केन्द्रित देखिन्छ ।

                            यसै सन्दर्भमा अर्थमन्त्रीले संसदमा विनियोजन विधेयक, २०७३ का सिद्धान्त र प्राथमिकता पनि
                            प्रस्तुत गरिसक्नुभएको छ । भूकम्पपछिको पुनर्निर्माण र नाकाबन्दीले थिलथिलो भएको अर्थतन्त्रलाई
                            चलायमान बनाउनु अहिलेको प्राथमिक विषय हो ।
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">May 10, 2016</small>
                        <small class="text-muted" style="float: right">- उदयशमशेर राणा</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="card h-100">
                    <img
                            src="{% static 'assets/img/article1.jpg' %}"
                            class="card-img-top"
                            alt="..."
                            style="height: 225px"
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">विकास बजेटमा प्राथमिकता</h5>
                        <p class="card-text text-center text-truncate">
                            वैशाख २८, २०७३- संविधानमा जेठ १५ गते संसदमा बजेट प्रस्तुत गर्ने व्यवस्था भएपछि यसपटक
                            विगतजस्तो बजेट कहिले आउला भन्ने चिन्ता र चासो छैन । बजेट अधिवेशन सुरु भइसकेको छ । त्यसैले
                            यतिबेला सबैको ध्यान सरकारले कस्तो बजेट ल्याउँदैछ भन्नेमा बढी केन्द्रित देखिन्छ ।

                            यसै सन्दर्भमा अर्थमन्त्रीले संसदमा विनियोजन विधेयक, २०७३ का सिद्धान्त र प्राथमिकता पनि
                            प्रस्तुत गरिसक्नुभएको छ । भूकम्पपछिको पुनर्निर्माण र नाकाबन्दीले थिलथिलो भएको अर्थतन्त्रलाई
                            चलायमान बनाउनु अहिलेको प्राथमिक विषय हो ।
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">May 10, 2016</small>
                        <small class="text-muted" style="float: right">- उदयशमशेर राणा</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                  <div class="card h-100">
                    <img
                            src="{% static 'assets/img/article1.jpg' %}"
                            class="card-img-top"
                            alt="..."
                            style="height: 225px"
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">विकास बजेटमा प्राथमिकता</h5>
                        <p class="card-text text-center text-truncate">
                            वैशाख २८, २०७३- संविधानमा जेठ १५ गते संसदमा बजेट प्रस्तुत गर्ने व्यवस्था भएपछि यसपटक
                            विगतजस्तो बजेट कहिले आउला भन्ने चिन्ता र चासो छैन । बजेट अधिवेशन सुरु भइसकेको छ । त्यसैले
                            यतिबेला सबैको ध्यान सरकारले कस्तो बजेट ल्याउँदैछ भन्नेमा बढी केन्द्रित देखिन्छ ।

                            यसै सन्दर्भमा अर्थमन्त्रीले संसदमा विनियोजन विधेयक, २०७३ का सिद्धान्त र प्राथमिकता पनि
                            प्रस्तुत गरिसक्नुभएको छ । भूकम्पपछिको पुनर्निर्माण र नाकाबन्दीले थिलथिलो भएको अर्थतन्त्रलाई
                            चलायमान बनाउनु अहिलेको प्राथमिक विषय हो ।
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">May 10, 2016</small>
                        <small class="text-muted" style="float: right">- उदयशमशेर राणा</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-md-3">
                <div class="card h-100">
                    <img
                            src="{% static 'assets/img/general.jpg' %}"
                            class="card-img-top"
                            alt="..."
                            style="height: 225px"
                    />
                     <div class="card-body">
                        <h5 class="card-title" style="text-align: center">विकास बजेटमा प्राथमिकता</h5>
                        <p class="card-text text-center text-truncate">
                            वैशाख २८, २०७३- संविधानमा जेठ १५ गते संसदमा बजेट प्रस्तुत गर्ने व्यवस्था भएपछि यसपटक
                            विगतजस्तो बजेट कहिले आउला भन्ने चिन्ता र चासो छैन । बजेट अधिवेशन सुरु भइसकेको छ । त्यसैले
                            यतिबेला सबैको ध्यान सरकारले कस्तो बजेट ल्याउँदैछ भन्नेमा बढी केन्द्रित देखिन्छ ।

                            यसै सन्दर्भमा अर्थमन्त्रीले संसदमा विनियोजन विधेयक, २०७३ का सिद्धान्त र प्राथमिकता पनि
                            प्रस्तुत गरिसक्नुभएको छ । भूकम्पपछिको पुनर्निर्माण र नाकाबन्दीले थिलथिलो भएको अर्थतन्त्रलाई
                            चलायमान बनाउनु अहिलेको प्राथमिक विषय हो ।
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">May 10, 2016</small>
                        <small class="text-muted" style="float: right">- उदयशमशेर राणा</small>
                    </div>
                </div>
            </div>
            {#            <div class="col-md-3">#}
            {#                <div class="card h-100">#}
            {#                    <img#}
            {#                            src="{% static 'assets/img/nepal_tarun_dal.jpg' %}"#}
            {#                            class="card-img-top"#}
            {#                            alt="..."#}
            {#                    />#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title" style="text-align: center">Nepal Tarun Dal</h5>#}
            {#                        <p class="card-text">#}
            {#                            This is a wider card with supporting text below as a natural lead-in to#}
            {#                            additional content. This content is a little bit longer.#}
            {#                        </p>#}
            {#                    </div>#}
            {#                    <div class="card-footer">#}
            {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-md-3">#}
            {#                <div class="card h-100">#}
            {#                    <img#}
            {#                            src="{% static 'assets/img/china_visit.jpg' %}"#}
            {#                            class="card-img-top"#}
            {#                            alt="..."#}
            {#                    />#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title" style="text-align: center">China Visit</h5>#}
            {#                        <p class="card-text">#}
            {#                            This is a wider card with supporting text below as a natural lead-in to#}
            {#                            additional content. This content is a little bit longer.#}
            {#                        </p>#}
            {#                    </div>#}
            {#                    <div class="card-footer">#}
            {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-md-3">#}
            {#                <div class="card h-100">#}
            {#                    <img#}
            {#                            src="{% static 'assets/img/earthquake.jpg' %}"#}
            {#                            class="card-img-top"#}
            {#                            alt="..."#}
            {#                    />#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title" style="text-align: center">Earthquake of 2015</h5>#}
            {#                        <p class="card-text">#}
            {#                            This is a wider card with supporting text below as a natural lead-in to#}
            {#                            additional content. This content is a little bit longer.#}
            {#                        </p>#}
            {#                    </div>#}
            {#                    <div class="card-footer">#}
            {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="row" style="margin-top: 50px">#}
            {#            <div class="col-md-3">#}
            {#                <div class="card h-100">#}
            {#                    <img#}
            {#                            src="{% static 'assets/img/samsad.jpg' %}"#}
            {#                            class="card-img-top"#}
            {#                            alt="..."#}
            {#                    />#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title" style="text-align: center">Samsad Bhawan</h5>#}
            {#                        <p class="card-text">#}
            {#                            This is a wider card with supporting text below as a natural lead-in to#}
            {#                            additional content. This content is a little bit longer.#}
            {#                        </p>#}
            {#                    </div>#}
            {#                    <div class="card-footer">#}
            {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-md-3">#}
            {#                <div class="card h-100">#}
            {#                    <img#}
            {#                            src="{% static 'assets/img/pm_meeting.jpg' %}"#}
            {#                            class="card-img-top"#}
            {#                            alt="..."#}
            {##}
            {#                    />#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title" style="text-align: center">Meetings with Prime minister</h5>#}
            {#                        <p class="card-text">#}
            {#                            This is a wider card with supporting text below as a natural lead-in to#}
            {#                            additional content. This content is a little bit longer.#}
            {#                        </p>#}
            {#                    </div>#}
            {#                    <div class="card-footer">#}
            {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-md-3">#}
            {#                <div class="card h-100">#}
            {#                    <img#}
            {#                            src="{% static 'assets/img/interview.jpg' %}"#}
            {#                            class="card-img-top"#}
            {#                            alt="..."#}
            {#                    />#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title" style="text-align: center">Interviews</h5>#}
            {#                        <p class="card-text">#}
            {#                            This is a wider card with supporting text below as a natural lead-in to#}
            {#                            additional content. This content is a little bit longer.#}
            {#                        </p>#}
            {#                    </div>#}
            {#                    <div class="card-footer">#}
            {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

        </div>
        <div style="height: 100px;"></div>
    </div>


{% endblock content %}