{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'assets/css/photogallery.css' %}" rel="stylesheet">
<div style="height: 100px;"></div>
<div class="col-10 mb-3 offset-1">
    <h1 class="text-capitalize">Articles</h1>
    <hr>
    {% if articles|length == 0 %}
    <div class="col-12 text-center">
        <h4 class="text-muted" style="margin-top: 30px; margin-bottom: 30px;">No records found</h4>
    </div>
    {% else %}
    {% for article in articles %}
    <div class="row route" style="margin-top: 50px; margin-bottom: 50px;" id='article{{ article.id }}'>
        <div class="col-sm-12 col-md-4">
                <div class="card h-100">
                    <img src="{{article.image.url}}" class="card-img-top" alt="..."
                        style="height: 225px" />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">{{ article.title }}</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-8">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title py-2 border-bottom">{{ article.title }}</h5>
                        <p class="card-text text-justify" id="article">
                            {{ article.body }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ article.event_date }}</small>
                        <small class="text-muted" style="float: right">- {{ article.user.username }}</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
    <hr>
    <nav aria-label="Page navigation my-4">
          <ul class="pagination justify-content-center">
               {% for i in pages %}
               {% if i == current %}
               <li class="page-item active">
                    {% else %}
               <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{% url 'article' %}?page={{i}}">{{ i }}</a>
               </li>
               {% endfor %}
          </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}
