


{% extends "base.html" %}
{% load static %} <!-- Template Main CSS File -->





{% block content %}
    <link href="{% static 'assets/css/photogallery.css' %}" rel="stylesheet">
    <div style="height: 100px;"></div>
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="col-md-3">
                <div class="card h-100">
                    <img
                            src="{% static 'assets/img/kantipur.png' %}"
                            class="card-img-top"
                            alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Kantipur</h5>
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
                    </div>
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img
                            src="{% static 'assets/img/himalaya.png' %}"
                            class="card-img-top"
                            alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Himalaya</h5>
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
                    </div>
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img
                            src="{% static 'assets/img/news24.png' %}"
                            class="card-img-top"
                            alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">News 24</h5>
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
                    </div>
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img
                            src="{% static 'assets/img/others.png' %}"
                            class="card-img-top"
                            alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Others</h5>
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
                    </div>
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-md-3">
                <div class="card h-100">
                    <img
                            src="{% static 'assets/img/general.jpg' %}"
                            class="card-img-top"
                            alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Hamra Kura</h5>
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
                    </div>
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
                </div>
            </div>
{#            <div class="col-md-3">#}
{#                <div class="card h-100">#}
{#                    <img#}
{#                            src="{% static 'assets/img/nepal_tarun_dal.jpg' %}"#}
{#                            class="card-img-top"#}
{#                            alt="..."#}
{#                    />#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title" style="text-align: center">Nepal Tarun Dal</h5>#}
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
{#                    </div>#}
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="card h-100">#}
{#                    <img#}
{#                            src="{% static 'assets/img/china_visit.jpg' %}"#}
{#                            class="card-img-top"#}
{#                            alt="..."#}
{#                    />#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title" style="text-align: center">China Visit</h5>#}
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
{#                    </div>#}
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="card h-100">#}
{#                    <img#}
{#                            src="{% static 'assets/img/earthquake.jpg' %}"#}
{#                            class="card-img-top"#}
{#                            alt="..."#}
{#                    />#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title" style="text-align: center">Earthquake of 2015</h5>#}
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
{#                    </div>#}
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row" style="margin-top: 50px">#}
{#            <div class="col-md-3">#}
{#                <div class="card h-100">#}
{#                    <img#}
{#                            src="{% static 'assets/img/samsad.jpg' %}"#}
{#                            class="card-img-top"#}
{#                            alt="..."#}
{#                    />#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title" style="text-align: center">Samsad Bhawan</h5>#}
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
{#                    </div>#}
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="card h-100">#}
{#                    <img#}
{#                            src="{% static 'assets/img/pm_meeting.jpg' %}"#}
{#                            class="card-img-top"#}
{#                            alt="..."#}
{##}
{#                    />#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title" style="text-align: center">Meetings with Prime minister</h5>#}
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
{#                    </div>#}
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="card h-100">#}
{#                    <img#}
{#                            src="{% static 'assets/img/interview.jpg' %}"#}
{#                            class="card-img-top"#}
{#                            alt="..."#}
{#                    />#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title" style="text-align: center">Interviews</h5>#}
                        {#                        <p class="card-text">#}
                        {#                            This is a wider card with supporting text below as a natural lead-in to#}
                        {#                            additional content. This content is a little bit longer.#}
                        {#                        </p>#}
{#                    </div>#}
                    {#                    <div class="card-footer">#}
                    {#                        <small class="text-muted">Last updated 3 mins ago</small>#}
                    {#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
        <div style="height: 100px;"></div>
    </div>


{% endblock content %}